@import "colourscheme.css";
/*
    (\ /)
    (-.-)
*/

body {
    margin: 0;
    background-color: var(--mainBackground);
    color: var(--mainText);
}
* {
    box-sizing: border-box;
    border: 2px solid lightslategray;
}


img{
    width: 100%;
    height: auto;
    vertical-align: middle; /* magic gap fixer ＼（〇_ｏ）／ */
}


.pageNav{
    display: flex;
    justify-content: space-between;
}
.logoBox{
    display: flex;
    margin: 2vw;
    align-items: center;
    gap: 10px;
}
.logoBox .image{
    width: 60px;
    height: auto;
}
.pageLinks{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.pageLinks a{
    color: var(--mainText);
    text-decoration: none;
}


header{
    max-height: 500px;
    min-height: 200px;
    height: 30vh;
    background-image: url(https://picsum.photos/800/300);
    background-repeat: no-repeat;
    background-size: 100%;
}
header h1{
    text-align: center;
    padding: 2vw 0px;
}
header p{
    text-align: center;
    padding: 5px 30vw;
}



.topArticles h2{
    text-align: center;
}
.recommended{
    display: flex;
    gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.treeContainer{
    /* width: 33%; No idea why no work */
    flex: 1;
    display: flex;
    flex-direction: column;
}
.treeContainer .image{
    width: 100%;
    height: auto;
}
.treeContainer h3{
    text-align: center;
}
 .rating{
    display: flex;
    justify-content: center;
    gap: 5px;
}
.rating img{
    width: 30px;
}

.recommended-info{
    display: flex;
    flex-direction: column;
}

.treeContainer button{
    border: none;
}













section{
    min-width: 300px;
    max-width: 1200px;
    width: 80vw;
    margin: auto;
    padding: 10px;
}


#contactForm{
    display: flex;
    flex-direction: column;
}
#contactForm .formNextTo{
    display: flex;
}
#contactForm .topLabel{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#tosCheckbox{
    width: 100%;
    align-content: center;
    margin: 20px;
}
.topLabel p{
    margin: 10px 0px;
}

#contactForm button{
    margin: 10px;
    width: 30vw;
    max-width: 300px;
    height: 30px;
    align-self: center;
}










footer{
    background-color: var(--secondBackground);
    padding: 1vw;
    display: flex;
}
footer a{
    color: var(--mainText);
    text-decoration: none;
}
.siteInfo{
    flex: 1.5;
}
.siteInfo .logoBox{
    margin: 0vw;
}
.copyrightNotice{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0px 3vw;
}


.legalLinks, .socialLinks{
    display: flex;
    flex-direction: column;
    margin: 0px 2vw;
    text-align: center;
}
.legalLinks a, .socialLinks a{
    margin: 10px 0px;
}

.footDevider{
flex: 5;
}

.settings{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 20px;
    padding: 5px;
}

.settings button{
    width: max-content;
    border: none;
}