@import "colourscheme.css";
/*
    (\ /)
    (-.-)
*/

body {
    margin: 0;
    background-color: var(--mainBackground);
    color: var(--mainText);
}
* {
    box-sizing: border-box;
    border: 2px solid lightslategray;
}



header{
    max-height: 500px;
    height: 30vw;
    background-image: url(https://picsum.photos/500/200);
    background-repeat: no-repeat;
    background-size: 100%;
}














section{
    min-width: 300px;
    max-width: 1200px;
    width: 80vw;
    margin: auto;
    padding: 10px;
}


#contactForm{
    display: flex;
    flex-direction: column;
}
#contactForm .formNextTo{
    display: flex;
}
#contactForm .topLabel{
    display: flex;
    flex-direction: column;
}










footer{
    background-color: var(--secondBackground);
    padding: 1vw;
    display: flex;
}

.siteInfo{
    flex: 2;
}

.legalLinks{
    display: flex;
    flex-direction: column;
}

.socialLinks{
    display: flex;
    flex-direction: column;
}
.footDevider{
flex: 5;
}

.settings{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 20px;
    padding: 5px;
}

.settings button{
    width: max-content;
    border: none;
}
